/*========================================
Basic Styles - general
==========================================*/

* {
    box-sizing: border-box;
}

html {
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3843;
    text-align: center;
    min-height: 75px;
    margin-bottom: 2rem;
}

h1 {
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
}

h2 {
    font-size: 1.1rem;
    font-weight: 700;
}

legend {
    font-size: 1.1em;
    font-weight: 700;
    color: #2d3843;
}

label {
    color: #abb2b9;
    font-size: .85em;
    margin-bottom: .5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    background-color: #eff0f1;
    border: none;
    min-height: 50px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

select {
    background-color: #eff0f1;
    border: none;
    min-height: 50px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

option {
    color: #eff0f1;
    margin-left: 20px;
}

::placeholder {
    text-align: right;
    margin-right: 20px;
    color: #abb2b9;
    font-style: italic;
}

#state {
    color: #abb2b9;
    padding-left: 10px;
}

#zip {
    width: 50%;
}

p {
    color: #abb2b9;
    font-size: .9em;
    line-height: 1.5;
    font-weight: 300;
}

.form-heading {
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 3px solid #2d3843;
    width: 90%;
    margin: auto;
}

.form-heading h2 {
    margin-bottom: .75rem;
}

.form {
    border-top: 1px solid #2d3843;
    width: 90%;
    margin: 3px auto;
}

form {
    margin: 1.5rem auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #2d3843;
}

.newsletter {
    margin-top: 2rem;
}

textarea {
    border: none;
    background-color: #eff0f1;
    width: 100%;
}

button {
    width: 100%;
    background-color: #51bcb5;
    border: none;
    color: white;
    border-radius: 5px;
    min-height: 50px;
    font-size: 1em;
    font-family: 'Merriweather', serif;
    font-weight: 700;
}