/*========================================
Basic Styles - general
==========================================*/

* {
    box-sizing: border-box;
}

html {
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3843;
    text-align: center;
    min-height: 75px;
    margin-bottom: 2rem;
}

h1 {
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
}

legend {
    font-size: 1.2em;
    font-weight: 700;
    color: #2d3843;
}

p {
    color: lightgray;
    font-size: .9em;
    line-height: 1.5;
    font-weight: 300;
}

.form-heading {
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 4px solid #2d3843;
    width: 90%;
    margin: auto;
}

.form-heading h2 {
    margin-bottom: .75rem;
}

.form {
    border-top: 1px solid #2d3843;
    width: 90%;
    margin: 3px auto;
}

form {
    margin: 2rem auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.newsletter {
    border-top: 1px solid #2d3843;
}

textarea {
    width: 100%;
}

button {
    width: 90%;
}